@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 358 0% 100%;
    --foreground: 358 0% 10%;
    --card: 358 0% 100%;
    --card-foreground: 358 0% 15%;
    --popover: 358 0% 100%;
    --popover-foreground: 358 95% 10%;
    --primary: 358 67% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 320 10% 95%;
    --muted-foreground: 358 0% 40%;
    --accent: 320 10% 90%;
    --accent-foreground: 358 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 358 0% 100%;
    --border: 358 20% 82%;
    --input: 358 20% 50%;
    --ring: 358 67% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 358 10% 10%;
    --foreground: 358 0% 100%;
    --card: 358 0% 10%;
    --card-foreground: 358 0% 100%;
    --popover: 358 10% 5%;
    --popover-foreground: 358 0% 100%;
    --primary: 358 67% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 320 10% 25%;
    --muted-foreground: 358 0% 65%;
    --accent: 320 10% 25%;
    --accent-foreground: 358 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 358 0% 100%;
    --border: 358 20% 50%;
    --input: 358 20% 50%;
    --ring: 358 67% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
